# Server Configuration
PORT=3000

# Database Configuration
# Defaulting database name to project name, adjust if needed
MONGO_URI=mongodb+srv://tbswebtechnology:Khushbu%40123@cluster0.5aecd.mongodb.net/najah

# Add other environment variables here (API Keys, JWT Secrets, etc.)
# JWT_SECRET=your_super_secret_key
